:root{
    --preto:#1D1E22;
    --cinza-navbar: #38393D;
    --grey:#4E5153;
    --red:rgb(255, 0, 0);
}

* {
    font-family: 'Montserrat', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    transition: all .4s linear;
}

canvas, .canvas-container {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.inputFoto{
    display: none;
    overflow: hidden;
}

input[type="file"]{
    height: 6.5rem;
    width: 5rem;
    background: #fff;
    margin-left: 3rem;
    border-radius: .5rem;
    cursor: pointer;
}

.Container-superior .Container-box .container-lateral .container-user .imagemImport{
    position: relative;
    top: 6rem;
    left: .3rem;
}

/* container superior */
.Container-superior{
    display: flex;
    flex-direction: column;
}

.Container-superior .Header{
    display: flex;
    justify-content: center;
    background: var(--cinza-navbar);
    width: 100%;
    height: 8rem;
    position: fixed;
    z-index: 20;
}

.Container-superior .Header .Header-image{
    margin-top: 2rem;
}

.Container-superior .Container-box{
    display: flex;
    background: var(--grey);
}

#pdf-container {
    margin-top: 10rem;
    padding-left: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    z-index: 10;
}

#pdf-container.active{
    margin-left: -29rem;
}

/* container lateral */
.Container-superior .Container-box .container-lateral{
    background: var(--cinza-navbar);
    width: 10rem;
    display: flex;
    flex-direction: column;
    height: 85.7rem;
    align-items: center;
    margin-top: 8rem;
    position: fixed;
    z-index: 20;
}

.Container-superior .Container-box .container-lateral .container-image{
    width: 12rem;
}

.Container-superior .Container-box .container-lateral .container-image img{
    width: 100%;
    object-fit: contain;
}

.Container-superior .Container-box .container-lateral .container-icons{
    padding: 2rem;
    margin: auto 2rem;
}

.Container-superior .Container-box .container-lateral .container-icons .container-icons__primeiro,.Container-superior .Container-box .container-lateral .container-icons .container-icons__segundo,.Container-superior .Container-box .container-lateral .container-icons .container-icons__quarto,.Container-superior .Container-box .container-lateral .container-icons .container-icons__quinto{
    height: 5rem;
    width: 5rem;
    background: var(--preto);
    border-radius: 30%;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 4.7rem;
    cursor: pointer;
}

.Container-superior .Container-box .container-lateral .container-icons .container-icons__terceiro{
    height: 5rem;
    width: 5rem;
    background: var(--preto);
    border-radius: 30%;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 4.7rem;
    cursor: pointer;
}

.Container-superior .Container-box .container-lateral .container-icons .container-icons__terceiro.active{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-lateral .container-icons .container-icons__quarto.active{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-lateral .container-icons .container-icons__quinto.active{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-lateral .container-icons .container-icons__primeiro:hover,.Container-superior .Container-box .container-lateral .container-icons .container-icons__segundo:hover, .Container-superior .Container-box .container-lateral .container-icons .container-icons__terceiro:hover,.Container-superior .Container-box .container-lateral .container-icons .container-icons__quarto:hover,.Container-superior .Container-box .container-lateral .container-icons .container-icons__quinto:hover{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-lateral .container-user{
    text-align: center;
}

/*.Container-superior .Container-box .container-lateral .container-import{
    width: 5rem;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
    line-height: 4.7rem;
    margin-top: 4rem;
    padding-left: .5rem;
    cursor: pointer;
}*/

.Container-superior .Container-box .container-lateral .container-lixeira{
    width: 5rem;
    height: 5rem;
    background: red;
    border-radius: 50%;
    line-height: 4.7rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.Container-superior .Container-box .container-lateral .container-mouse{
    width: 5rem;
    height: 5rem;
    background: var(--preto);
    border-radius: 50%;
    line-height: 4.7rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
}

.Container-superior .Container-box .container-lateral .container-mouse.active{
    border: .2rem solid red;
}

.Container-superior .Container-box .container-lateral .container-user .container-save{
    line-height: 4.7rem;
    padding-left: .2rem;
    width: 5rem;
    margin-bottom: 1.5rem;
    cursor: pointer;
    height: 5rem;
    background: #fff;
    border-radius: 50%;
}

.Container-superior .Container-box .container-lateral .container-lixeira:hover{
    border: .2rem solid #000;
}

.Container-superior .container-mouse:hover, .Container-superior .Container-box .container-lateral .container-user .container-save:hover{
    border: .2rem solid red;
}

/*Separador*/

.separador{
    width: 5px;
    background: var(--grey);
}

.separador.activePincel .option{
    width: 5px;
    height: 6rem;
    background: var(--cinza-navbar);
    margin-top: 42rem;
    position: fixed;
    z-index: 20;
    margin-left: 10rem;
}

.separador.activeA .option{
    width: 5px;
    height: 6rem;
    background: var(--cinza-navbar);
    margin-top: 48rem;
    position: fixed;
    z-index: 20;
    margin-left: 10rem;
}

.separador.activeStar .option{
    width: 5px;
    height: 6rem;
    background: var(--cinza-navbar);
    margin-top: 54rem;
    position: fixed;
    z-index: 20;
    margin-left: 10rem;
}

/*Container intermediario*/


/*Container secundario pincel*/
.Container-superior .Container-box .container-buttons-pincel{
    width: 8rem;
    background:var(--cinza-navbar);
    position: relative;
    top: -300rem;
    z-index: 20;
    margin-left: 10rem;
    margin-top: 8rem;
    height: 85.5rem;
}

.Container-superior .Container-box .container-buttons-pincel.active{
    top: 0rem;
    position: fixed;
    margin-left: 10.5rem;
}

.Container-superior .Container-box .container-buttons-pincel .container-buttons__pincel{
    display: flex;
    flex-direction: column;
    margin-top: 22.5rem;
}

.Container-superior .Container-box .container-buttons-pincel .container-buttons__pincel .button-secundario{
    height: 5rem;
    width: 5rem;
    background: var(--preto);
    color: #fff;
    border-radius: 30%;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 4.7rem;
    cursor: pointer;
    margin-left: 1.5rem;
}

.Container-superior .Container-box .container-buttons-pincel .container-buttons__pincel .button-secundario:hover{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-buttons-pincel .container-buttons__pincel .button-secundario h1{
    color: #fff;
    line-height: 2;
}

/*Container secundario A*/
.Container-superior .Container-box .container-buttons-A{
    width: 8rem;
    background:var(--cinza-navbar);
    
    position: relative;
    top: -300rem;
    z-index: 20;
    margin-left: 10rem;
    margin-top: 8rem;
    height: 85.5rem;
}

.Container-superior .Container-box .container-buttons-A.active{
    top: 0rem;
    position: fixed;
    margin-left: 10.5rem;
    right: 171.8rem;
}

.Container-superior .Container-box .container-buttons-A .container-buttons__A{
    display: flex;
    flex-direction: column;
    margin-top: 27rem;
}

.Container-superior .Container-box .container-buttons-A .container-buttons__A .form-control{
    font-size: 2rem;
}

.Container-superior .Container-box .container-buttons-A .container-buttons__A .button-secundario-A{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
    height: 10rem;
    width: 6rem;
    background: var(--preto);
    color: #fff;
    border-radius:5%;
    text-align: center;
    margin-bottom: 1rem;
    cursor: pointer;
    margin-left: 1rem;
}

.Container-superior .Container-box .container-buttons-A .container-buttons__A .button-secundario{
    height: 5rem;
    width: 5rem;
    background: var(--preto);
    border-radius: 30%;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 4.7rem;
    cursor: pointer;
    margin-left: 1.5rem;
}

.Container-superior .Container-box .container-buttons-A .container-buttons__A .button-secundario:hover{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-buttons-A .container-buttons__A .button-secundario h1{
    color: #fff;
    line-height: 2;
}

/*Container secundario Star*/
.Container-superior .Container-box .container-buttons-Star{
    width: 8rem;
    background:var(--cinza-navbar);
    position: relative;
    top: -300rem;
    z-index: 20;
    margin-left: 10rem;
    margin-top: 8rem;
    height: 85.5rem;
}

.Container-superior .Container-box .container-buttons-Star.active{
    top: 0rem;
    position: fixed;
    margin-left: 10.5rem;
    right: 171.8rem;
}

.Container-superior .Container-box .container-buttons-Star .container-buttons__Star{
    display: flex;
    flex-direction: column;
    margin-top: 22.5rem;
}

.Container-superior .Container-box .container-buttons-Star .container-buttons__Star .button-secundario{
    height: 5rem;
    width: 5rem;
    background: var(--preto);
    border-radius: 30%;
    text-align: center;
    margin-bottom: 1rem;
    line-height: 4.7rem;
    cursor: pointer;
    margin-left: 1.5rem;
}

.Container-superior .Container-box .container-buttons-Star .container-buttons__Star .button-secundario:hover{
    border: .1rem solid red;
}

.Container-superior .Container-box .container-buttons-Star .container-buttons__Star .button-secundario h1{
    color: #fff;
    line-height: 2;
}

/* Modificações na largura de tela quando "apertada", mas ainda faz verificar essa mudança
   quando clicados os botões que geram um modal!! */
@media (max-width:1800px){
    #pdf-container {
        margin-left: -7rem;
    }
}

@media (max-width:1700px){
    #pdf-container {
        margin-left: -13rem;
    }
}

@media (max-width:1600px){
    #pdf-container {
        margin-left: -18rem;
    }
}

@media (max-width:1500px){
    #pdf-container {
        margin-left: -20rem;
    }
}


@media (max-width:1500px){
    #pdf-container {
        margin-left: -20rem;
    }

    .Container-superior .Header{
        background: rgb(143, 143, 143);
    }
}

@media (max-width:1400px){
    #pdf-container {
        margin-left: -10rem;
    }

    .Container-superior .Container-box .container-lateral{
        background: var(--cinza-navbar);
        width: 10rem;
        display: flex;
        flex-direction: column;
        height: 54.5rem;
        align-items: center;
        margin-top: 8rem;
        position: fixed;
        z-index: 20;
    }
    .Container-superior .Container-box .container-lateral .container-icons .container-icons__primeiro, .Container-superior .Container-box .container-lateral .container-icons .container-icons__segundo, .Container-superior .Container-box .container-lateral .container-icons .container-icons__quarto, .Container-superior .Container-box .container-lateral .container-icons .container-icons__quinto{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
    }

    .Container-superior .Container-box .container-lateral .container-icons .container-icons__terceiro{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
    }

    .Container-superior .Container-box .container-lateral .container-mouse{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
    }

    .Container-superior .Container-box .container-lateral .container-lixeira{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
    }

    .Container-superior .Container-box .container-lateral .container-user .container-save{
        height: 4rem;
        width: 4rem;
        line-height: 4rem;
    }

    input[type="file"]{
        height: 5.5rem;
    }

    .Container-superior .Container-box .container-lateral .container-user .imagemImport{
        top: 5.5rem;
        height: 3rem;
        width: 3rem;
    }

    .Container-superior .Container-box .container-buttons-A.active{
        right: 116.5rem;
    }

    .separador.activeA .option{
        margin-top: 33rem;
    }

    .separador.activePincel .option{
        margin-top: 28rem;
    }

    .separador.activeStar .option{
        margin-top: 38rem;
    }
    
    .Container-superior .Container-box .container-buttons-pincel .container-buttons__pincel{
        margin-top: 14rem;
    }

    .Container-superior .Container-box .container-buttons-A .container-buttons__A{
        margin-top: 18rem;
    }

    .Container-superior .Container-box .container-buttons-Star.active{
        right: 116.5rem;
    }

    .Container-superior .Container-box .container-buttons-Star .container-buttons__Star{
        margin-top: 14rem;
    }
}

@media (max-width:600px){
    .Container-superior .Container-box .container-lateral{
        background: var(--preto);
        width: 100%;
        display: flex;
        flex-direction: column;
        height: 24rem;
        align-items: center;
    }

    .Container-superior .Container-box .container-lateral .container-icons{
        display: flex;
        gap:2rem;
    }

    .Container-superior .Container-box .container-lateral .container-user{
        display: flex;
        justify-content: center;
    }

    .Container-superior .Container-box .container-lateral .container-user .container-exit{
        margin-left: 1.5rem;
    }
}

@media (max-width:450px){
    .Container-superior .Container-box .container-lateral .container-icons .container-icons__primeiro, .container .container-icons .container-icons__segundo, .container .container-icons .container-icons__quarto, .container .container-icons .container-icons__quinto, .container .container-icons .container-icons__terceiro{
        height: 4.5rem;
        width: 4.5rem;
        line-height: 4.7rem;
    }

    .Container-superior .Container-box .container-lateral .container-icons .container-icons__terceiro{
        line-height: 7rem;
    }
}

@media (max-width:350px){
    .Container-superior .Container-box .container-lateral .container-icons{
        gap: 1rem;
    }
}